{#
<ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/projects', 'Projects'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
      #}


<!doctype html>
<html itemscope itemtype="http://schema.org/Event">
<head>

  <meta charset="utf-8">
  <title itemprop="name">Meetup PythonRio</title>
  <!-- <title>{% block title %}Welcome{% endblock %} — pythonrio</title> -->
  <meta name="author" content="Meetup PythonRio">
  <meta name="description" content="Meetup de Python no Rio de Janeiro">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- FACEBOOK -->
  <meta property="fb:app_id" content="372862979453673">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://pythonrio.github.io">
  <meta property="og:title" content="Meetup PythonRio">
  <meta property="og:description" content="Meetup de Python no Rio de Janeiro">
  <meta property="og:image" content="http://pythonrio.github.io/themes/blue-is-the-warmest-color/img/pythonrio.png">
  <!-- / FACEBOOK -->

  <!-- <link rel="stylesheet" href="{{ '/static/style.css'|url }}"> -->
  <link rel="shortcut icon" href="{{ '/static/favicon.ico'|url }}" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/static/apple-touch-icon-144x144-precomposed.png'|url }}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/static/apple-touch-icon-114x114-precomposed.png'|url }}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/static/apple-touch-icon-72x72-precomposed.png'|url }}">
  <link rel="apple-touch-icon-precomposed" href="{{ '/static/apple-touch-icon-precomposed.png'|url }}">
  <link rel="apple-touch-icon" href="{{ '/static/apple-touch-icon-precomposed.png'|url }}">

  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" href="{{ '/static/main.css'|url }}">
  <!-- / STYLES -->

</head>
<body>

  <div class="global">

    <!-- NAVIGATION -->
<nav id="nav">
  <ul class="wrapper">
    
      <li class="nav-item">
        <a href="#about" title="Sobre" class="nav-link">Sobre</a>
      </li>
    
      <li class="nav-item">
        <a href="#location" title="Localização" class="nav-link">Localização</a>
      </li>
    
      <li class="nav-item">
        <a href="#speakers" title="Convidados" class="nav-link">Convidados</a>
      </li>
    
      <li class="nav-item">
        <a href="#partners" title="Parceiros" class="nav-link">Parceiros</a>
      </li>
    
  </ul>
</nav>

<hr>
    

<!-- HEADER -->
<header class="header">
  <div class="wrapper">
    <img src="{{ '/static/pythonrio.png'|url }}" />
    <h1 class="logo-name">
      <a class="logo-link" href="#" title="Meetup PythonRio" itemprop="name">Meetup PythonRio</a>
    </h1>
    <h2 class="tagline">31 de janeiro, Hotel Urbano, Rio de Janeiro</h2>

    
      <div class="call-action-area">
        

        
          <a href="http://www.eventick.com.br/meetup-python-rio" class="call-action-link" title="Registre-se">Registre-se</a>
        
      </div>
    
  </div>
</header>
<!--  / HEADER -->

<hr>

    <!-- CONTENT -->
    <div class="content" id="content">
      <div class="wrapper">
            {% block body %}{% endblock %}
  <!-- ABOUT -->

  <section class="about" id="about">
    <h2 class="section-title">Sobre</h2>
<p itemprop="description">Acabou a tristeza! A galera de Python do Rio vai se encontrar novamente e trocar uma ideia.</p>

<p>Como nosso espaço é limitado, precisamos que registrem-se <a href="http://www.eventick.com.br/meetup-python-rio">aqui</a>. Temos apenas 30 vagas!</p>

<p>Caso tenha se inscrito mas não poderá comparecer, pedimos que nos informe através da <a href="https://www.facebook.com/events/398543193635749/">página do evento no facebook</a>.</p>
  </section>

  <!-- / ABOUT -->

  <!-- LOCATION -->

  <section class="location" id="location">
    <h2 class="section-title">Localização</h2>

<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <span itemprop="streetAddress">Av. Ayrton Senna, 2.150, BLOCO I, sala 204, Barra da Tijuca. </span>
  <span itemprop="addressLocality">Rio de Janeiro</span>,
  <span itemprop="addressRegion"> RJ</span>
</p>

<div id="map-canvas" class="location-area" data-address="Av. Ayrton Senna, 2.150, BLOCO I, sala 204, Barra da Tijuca"></div>
  </section>

  <!-- / LOCATION -->

  <!-- SPEAKERS -->

  <section class="speakers" id="speakers">
    <h2 class="section-title">Convidados</h2>

<ul class="speakers-list">

  
    <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
      
        <span class="speaker-photo">
          <img class="photo" src="{{ '/static/aoqfonseca.png'|url }}" alt="André Fonseca" itemprop="image">
        </span>
      

      <h3 class="speech-title">
        
          <span> Escrevendo API's em Python</span>
      </h3>

      <h3 class="speakers-name">André Fonseca <a href="https://github.com/aoqfonseca" title="@aoqfonseca">@aoqfonseca</a></h3>
      <p class="speakers-bio">Desenvolvedor com mais de 10 anos de experiência e apaixonado pelo que faz. Acredito que TI é um caminho para facilitar e permitir mais. Tecnologia é o meio e não fim. Por isso procuro a melhor ferramenta para o trabalho. Embora tenha predileção por mais produtivas. Ruby, Java, Python, Javascript, Groovy, etc.</p>
    </li>
  

  
    <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
      
        <span class="speaker-photo">
          <img class="photo" src="{{ '/static/hugoleodev.jpg'|url }}" alt="Hugo Leonardo" itemprop="image">
        </span>
      

      <h3 class="speech-title">
        
          <span> Deploy de aplicações Django com Ansible</span>
      </h3>

      <h3 class="speakers-name">Hugo Leonardo <a href="https://github.com/hugoleodev" title="@hugoleodev">@hugoleodev</a></h3>
      <p class="speakers-bio">Desenvolvedor de software com experiência em soluções Web e integrações entre sistemas. Além de grande interesse em ferramentas de provisionamento de servidores como Chef, Puppet e Ansible.</p>
    </li>
  

</ul>
  </section>

  <!-- / SPEAKERS -->

  <!-- PARTNERS -->

  <section class="partners" id="partners">
    <h2 class="section-title">Parceiros</h2>
<ul class="partners-list">


  <li class="partner-item" itemscope itemtype="http://schema.org/Organization">
    <a href="http://www.nitisoffice.com.br/" class="partner-logo partner-link" itemprop="url">
      <img src="{{ '/static/nitis_logo.png'|url }}" alt="Nitis Office" class="photo" itemprop="image">
    </a>
  </li>

  <li class="partner-item" itemscope itemtype="http://schema.org/Organization">
    <a href="http://www.hotelurbano.com/" class="partner-logo partner-link" itemprop="url">
      <img src="{{ '/static/hotel_urbano.jpg'|url }}" alt="Hotel Urbano" class="photo" itemprop="image">
    </a>
  </li>

  <!-- <li class="partner-item">
    <a class="partner-logo partner-link partner-call" href="#">
        <img src="{{ '/static/your-logo.jpg'|url }}" alt="your logo" class="photo">
    </a>
  </li> -->
</ul>
  </section>

  <!-- / PARTNERS -->

        <!-- FOOTER -->
        <footer class="footer">
          <p>Made with ♥ by <a href="https://github.com/braziljs/conf-boilerplate">Conf Boilerplate</a> and <a href="https://github.com/hora-extra-barra">Horaextra Barra</a> :)</p>
          <p>Cover image from <a href="https://www.flickr.com/photos/jimkillock/7170481375">Jim Killock</a></p>
        </footer>
        <!-- / FOOTER -->
      </div>
    </div>
    <!-- / CONTENT -->

  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="themes/blue-is-the-warmest-color/js/jquery.js"><\/script>')</script>

  
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="{{ '/static/main.js'|url }}"></script>
  

  <!-- GOOGLE ANALYTICS -->
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33656081-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
  <!-- /GOOGLE ANALYTICS -->

</body>
</html>
