<section class="partners" id="partners">
    <h2 class="section-title">Parceiros</h2>
    <ul class="partners-list">
        <li class="partner-item" itemscope itemtype="http://schema.org/Organization">
            <a href="http://www.nitisoffice.com.br/" class="partner-logo partner-link" itemprop="url">
                    <img src="{{ '/static/img/nitis_logo.png'|url }}" alt="Nitis Office" class="photo" itemprop="image">
            </a>
        </li>

        <li class="partner-item" itemscope itemtype="http://schema.org/organization">
            <a href="http://www.hotelurbano.com/" class="partner-logo partner-link" itemprop="url">
                    <img src="{{ '/static/img/hotel_urbano.jpg'|url }}" alt="hotel urbano" class="photo" itemprop="image">
            </a>
        </li>

        <li class="partner-item" itemscope itemtype="http://schema.org/organization">
            <a href="http://elogroup.com.br/" class="partner-logo partner-link" itemprop="url">
                    <img src="{{ '/static/img/logo_elogroup.png'|url }}" alt="elogroup" class="photo" itemprop="image">
            </a>
        </li>
    </ul>
</section>
