{% if this.url_callpapers or this.speakers %}
<section class="speakers" id="speakers">
    <h2 class="section-title">Palestras</h2>

    {% if this.url_callpapers %}
    <p itemprop="description">Para submeter ou votar em uma palestra, acesse o nosso <a href="{{ this.url_callpapers }}" target="_blank">Call4Paperz</a>.</p>
    {% endif %}

    {% if this.speakers %}
    <ul class="speakers-list">
    {% for speaker in this.speakers.blocks %}
        <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
            <span class="speaker-photo">
                <img class="photo" src="{{ speaker.photo }}" alt="{{ speaker.name }}" itemprop="image">
            </span>
            <h3 class="speech-title">
                <span>{{ speaker.talk }}</span>
            </h3>
            <h3 class="speakers-name">{{ speaker.name }} <a href="{{ speaker.link }}" target="_blank" title="{{ speaker.at }}">{{ speaker.at }}</a></h3>
            <p class="speakers-bio">{{ speaker.bio }}</p>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
</section>
{% endif %}