{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h3><a href="{{ post|url }}">{{ post.title }}</a></h3>
  {% else %}
    <h3>{{ post.title }}</h3>
  {% endif %}
  <p class="meta">
    escrito por
    {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
        }}">{{ post.author or post.twitter_handle }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    em {{ post.pub_date }}
  </p>
  {{ post.body }}
  </div>
{% endmacro %}
