<meta charset="utf-8">
<title itemprop="name">{% block title %}{{ this.title }}{% endblock %}</title>
<meta name="author" content="Meetup PythonRio">
<meta name="description" content="Meetup de Python no Rio de Janeiro">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- FACEBOOK -->
<meta property="fb:app_id" content="372862979453673">
<meta property="og:type" content="website">
<meta property="og:url" content="http://pythonrio.github.io">
<meta property="og:title" content="Meetup PythonRio">
<meta property="og:description" content="Meetup de Python no Rio de Janeiro">
<meta property="og:image" content="{{ '/static/img/pythonrio.png'|url }}">
<!-- / FACEBOOK -->

<link rel="shortcut icon" href="{{ '/static/img/favicon.ico'|url }}" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/static/img/apple-touch-icon-144x144-precomposed.png'|url }}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/static/img/apple-touch-icon-114x114-precomposed.png'|url }}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/static/img/apple-touch-icon-72x72-precomposed.png'|url }}">
<link rel="apple-touch-icon-precomposed" href="{{ '/static/img/apple-touch-icon-precomposed.png'|url }}">
<link rel="apple-touch-icon" href="{{ '/static/img/apple-touch-icon-precomposed.png'|url }}">
