{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {{ post.body }}
  </div>
{% endmacro %}


{% macro render_blog_post_summary(post, from_index=false) -%}
  <div class="blog-post">
    {% if from_index %}
      <h4><a href="{{ post|url }}">{{ post.title }}</a></h4>
    {% else %}
      <h4>{{ post.title }}</h4>
    {% endif %}

    {% if post.attachments.images.get('cover.png') %}
      {% set i = post.attachments.images.get('cover.png') %}
    {% elif post.attachments.images.get('cover.jpg') %}
      {% set i = post.attachments.images.get('cover.jpg') %}
    {% elif post.attachments.images.get('cover.gif') %}
      {% set i = post.attachments.images.get('cover.gif') %}
    {% elif post.cover_image %}
      {% set i = post.cover_image %}
    {% endif %}

    {% if i %}
      <div class="image-wrapper">
        <a href="{{ post|url }}">
          {% if not i == post.cover_image %}
            <img src="{{ i|url }}">
          {% else %}
            <img src="{{ i }}">
          {% endif %}
        </a>
      </div>
    {% endif %}
    {{ post.summary }}
    <p style="text-align:right">
    	<a href="{{ post|url }}">ler mais</a>
    </p>
  </div>
{% endmacro %}
