<header class="header">
    <div class="wrapper">
        <img src="{{ '/static/img/pythonrio.png'|url }}" />
        <h1 class="logo-name">
                <a class="logo-link" href="#" title="Meetup PythonRio" itemprop="name">{{ this.title }}</a>
        </h1>
        <h2 class="tagline">{{ this.date }}, {{ this.local }}, {{ this.city }}</h2>

        <div class="call-action-area">
                <a href="{{ this.url_applications }}" class="call-action-link" title="Registre-se" target="_blank">Registre-se</a>
        </div>

    </div>
</header>

<hr>
