<nav id="nav">
    <ul class="wrapper">
    {% for href, title in [
	['/', 'Home'],
        ['#about', 'Sobre'],
        ['#location', 'Localização'],
        ['#speakers', 'Palestras'],
        ['#agenda', 'Agenda'],
        ['#partners', 'Parceiros'],
    ['/blog/', 'Blog'],
	['/jobs/', 'Jobs'],
    ['/evento/edicoes-anteriores/', 'Edições Anteriores'],
    ['/evento/niteroi/', 'Niterói']
    ] %}
        <li class="nav-item"><a href="{{ href }}" title="{{title}}" class="nav-link">{{ title }}</a></li>
    {% endfor %}
    </ul>
</nav>
<hr>
