<nav id="nav">
    <ul class="wrapper">
    {% set website = '/' %}
    {% if this.website %}{% set website = this.website %}{% endif %}
    {% for href, title in [
	['/', 'Home'],
        [website+'#about', 'Sobre'],
        [website+'#location', 'Localização'],
        [website+'#speakers', 'Palestras'],
        [website+'#agenda', 'Agenda'],
        [website+'#partners', 'Parceiros'],
	['/blog/', 'Blog'],
    ['/evento/edicoes-anteriores/', 'Edições Anteriores'],
    ['/evento/niteroi/', 'Niterói']
    ] %}
        <li class="nav-item"><a href="{{ href }}" title="{{title}}" class="nav-link">{{ title }}</a></li>
    {% endfor %}
    </ul>
</nav>
<hr>
