<section class="about" id="about">
    <h2 class="section-title">Sobre</h2>
    <p itemprop="description">Acabou a tristeza! Agora a galera da comunidade Python do Rio de Janeiro tem um encontro marcado, a cada último sábado de todo mês. Às vezes na Barra, às vezes no Centro, o que importa é se reunir para conversar, compartilhar e aprender.</p>

    <p>Acompanhe-nos em nossas redes sociais para saber tudo sobre nossos encontros e as últimas novidades da comunidade Python.</p>

    <p><a href="https://www.facebook.com/pythonrio" target="_blank">+ Facebook</a> <a href="https://www.twitter.com/pythonrio" target="_blank">+ Twitter</a> </p>

</section>
