<section class="speakers" id="speakers">
    <h2 class="section-title">Palestrantes</h2>

    <p itemprop="description">Para submeter ou votar em uma palestra, acesse o nosso <a href="{{ this.url_papers }}" target="_blank">Call4Paperz</a>.</p>

    <!--
    <ul class="speakers-list">
    {% for speaker in this.children if speaker.active %}
        <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
            <span class="speaker-photo">
                <img class="photo" src="{{ '/static/speakers'|url }}/{{ speaker.photo }}" alt="{{ speaker.name }}" itemprop="image">
            </span>
            <h3 class="speech-title">
                <span>{{ speaker.title }}</span>
            </h3>
            <h3 class="speakers-name">{{ speaker.name }} <a href="{{ speaker.link }}" target="_blank">+ link</a></h3>
            <p class="speakers-bio">{{ speaker.bio }}</p>
        </li>
    {% endfor %}
    </ul>
    -->
</section>

