{% extends "base.html" %}
{% from "macros/job_list.html" import render_job_list %}
{% from "macros/pagination_bootstrap.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block page_class %}navbar-white{% endblock %}
{% block page_header %}
    {% include 'includes/bootstrap/banner_job.html' %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="job-board">
        {% for child in this.pagination.items|sort(attribute='_id', reverse=True) %}
            {{ render_job_list(child, from_index=true, loop=loop) }}
        {% endfor %}
        {{ render_pagination(this.pagination) }}
    </div>
</div>
{% endblock %}
