{% extends "base.html" %}
{% from "macros/job_list.html" import render_job_list %}
{% from "macros/pagination_bootstrap.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block page_class %}navbar-white navbar-default-on{% endblock %}
{% block page_header %}
    {% include 'includes/bootstrap/banner_job.html' %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="job-board">
        {% for child in this.pagination.items|sort(attribute='_id', reverse=True) %}
            {{ render_job_list(child, from_index=true, loop=loop) }}
        {% else %}
            <div class="alert alert-warning" role="alert">
                <strong>Ops!</strong> Não existe nenhuma oportunidade cadastrada. 
            </div>
        {% endfor %}
        {% if this.pagination.items %}
            {{ render_pagination(this.pagination) }}
        {% endif %}
    </div>
</div>
{% endblock %}
